<div class="w-full h-full rounded-r grid grid-cols-1 grid-rows-8">
  <div class="bg-slate-100 rounded-tr flex justify-between">
    <div class="text-2xl font-bold p-5 pt-7 flex gap-x-3 items-center">
      <img [ngSrc]="!chatuser?.profilephoto ? '/assets/photo-default.jpg' : getPhotoPath(chatuser.profilephoto)" alt="" class="border-1 shadow rounded-full object-cover min-w-[50px] min-h-[50px] max-w-[50px] max-h-[50px]" width="100" height="100" />
      {{chatuser.name}}
    </div>
  </div>
  <div class="row-span-6">
    <div class="w-full h-full max-w-full max-h-full overflow-y-auto overflow-x-hidden py-4 px-6 flex flex-col-reverse gap-y-3">
      @for (item of conversation; track $index) {
        <div *ngIf="item.senderid !== user?._id" class="max-w-[50%] px-4 py-2 bg-slate-200 rounded-lg self-start">
          <p class="w-full whitespace-normal text-wrap text-sm">{{item.message}}</p>
          <p class="w-full text-[10px] self-end text-right">{{formatDate(item.timestamp)}}</p>
        </div>
        <div *ngIf="item.senderid === user?._id" type="button" (click)="onDeleteMessage(item._id, item.message)" class="pointer-cursor hover:pointer-cursor hover:bg-red-500 max-w-[50%] px-4 py-2 text-white bg-pink-600 rounded-lg self-end">
          <p class="w-full whitespace-normal text-wrap text-sm">{{item.message}}</p>
          <p class="w-full text-[10px] self-end text-right">{{formatDate(item.timestamp)}}</p>
        </div>
      }
    </div>
  </div>
  <div>
    <div class="flex justify-between h-full">
      <div class="flex flex-col items-center mx-6 h-full justify-center flex-1">
        <textarea
          rows="3"
          id="message"
          name="message"
          placeholder="Type to chat..."
          [(ngModel)]="message"
          [disabled]="!user?._id || !chatuser"
          class="w-full bg-white text-[12px] p-2 bg-transparent border border-gray-200 rounded-lg outline-none"
        ></textarea>
      </div>
      <div class="flex flex-col items-center justify-center mr-6">
        <button (click)="onChatSubmit($event)" [disabled]="!user?._id || !chatuser" class="rounded-md bg-white flex justify-center items-center px-4 py-2 aspect-square"><i class="bi bi-send text-black font-bold"></i></button>
      </div>
    </div>
  </div>
</div>
